* {
  font-family: Roboto;
  /** border: 2px solid rgba(0, 0, 0, 0.3); **/
}

/**
  BACKGROUND
**/

html {
  background: #072039;
  background: linear-gradient(to bottom right, #072039, #000);
  min-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
body {
  background: #222;
  width: 70%;
  margin: 35px auto;
  border-radius: 10px;
  box-shadow: 0 5px 5px #060606;
}

/**
  COLOUR STUFF BEEP BEEP LETTUCE
**/

p, li {
  color: white;
}
h1, h2, .back-to-top {
  background: #006aff;
  color: white;
}
a, ol > li:before, .active {
  color: #006aff;
}
ol > li.purple:before {
  color: #7d26cd;
}

/**
  FONTS
**/

#signature, .back-to-top {
  font-size: 12px;
}
li, p {
  font-size: 14px;
}
#intro p, h2 {
  font-size: 16px;
}
h1 {
  font-size: 30px;
  text-align: center;
}
a {
  font-weight: bold;
  text-decoration: none;
}

/**
  ALIGNMENT AND STYLE STUFF I DUNNO
**/

#logo {
  display: block;
  margin: 0 auto;
  padding: 40px;
}
#signature {
  text-align: center;
  padding: 15px 0;
}
p, h2 {
  margin: 10px 10%;
}
ol > li, :not(li) > ul > li {
  margin: 2px 12%;
}
h2 + ol, h2 + ul, h2 + div {
  margin: 2px 3%;
}
h1 {
  margin: 30px 5%;
  padding: 12px 0;
  border-radius: 5px;
}
h2 {
  text-align: center;
  padding: 8px 0;
  border-radius: 5px;
}
#staff img {
  border-radius: 5px;
  margin: 2px;
}
#staff {
  text-align: center;
}
#intro {
  margin-bottom: 50px;
}
#update {
  text-align: center;
}

/** Change button hand to pointer beep beep **/
h1, h2 {
  cursor: pointer;
}

/**
  GAY-ASS LIST STYLIN' YO
**/

ol {
  list-style: none;
  counter-reset: li;
}
ol > li:before {
  font-weight: bold;
  content: counter(li);
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
  counter-increment: li;
}

/**
  RETURN TO TOP OF PAGE
**/

.back-to-top {
  padding: 10px;
  border-radius: 5px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  text-decoration: none;
  margin: 0;
}
